<div class="row mb-3">
    <%= variant_form.label :color, class:"col-sm-2 col-form-label" %>
  <div class="col-sm-10">
  <%= variant_form.text_field :color, placeholder: "Product color", class: "form-control" %>
  </div>
</div>
<div class="row mb-3">
    <%= variant_form.label :size, class:"col-sm-2 col-form-label" %>
  <div class="col-sm-10">
  <%= variant_form.text_field :size, placeholder: "Small/Medium/Large", class: "form-control" %>
  </div>
</div>
<div class="row mb-3">
    <%= variant_form.label :sku, class:"col-sm-2 col-form-label" %>
  <div class="col-sm-10">
  <%= variant_form.text_field :sku, placeholder: "redsm*****", class: "form-control" %>
  </div>
</div>